@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:coral">
    <h1>Welcome</h1>
    <p class="lead">This is my Website Dedicated to World Domination, Here we can discuss plans to overthrow the government</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    <img src="https://testingcircle-my.sharepoint.com/personal/cbalosache_spartaglobal_com/Documents/Microsoft%20Teams%20Chat%20Files/Rommel.jpg"  width="600" height="600"/>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            To join just register on this site and you automatically become a member, We will send you a welcome package and how you can contribute.
            Să faci din rahat bici
           
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>